:root{
    --color-dark: #1d1d1f;
    --color-gray: #515154;
    --color-light: #636366;
    --color-lighter: #EDEDEE;
    --color-background: #f5f5f7;
    /* --color-blue: #0070c9; */
    --color-blue: #06c;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: white;
    font-family: "SF Pro Display","SF Pro Icons","Apple WebExp Icons Custom","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: var(--color-dark);
    font-size:14px;
    line-height: 1.4;
    width:100vw;
    min-height:100vh;
    overflow-x: hidden;
}

section{
    border-bottom: 1px solid var(--color-lighter);
    padding: 0.5rem 4vw;
    width:92vw;
    max-width:1024px;
    margin: 0 auto;
}

a{
    text-decoration:none;
    cursor: pointer;
}

a.color-blue:hover{
    text-decoration:underline

}

.pointer{
    cursor:pointer
}
section h2{
    margin-bottom:0.5rem;
}

/* font */
.white-space-no-wrap{
    white-space:nowrap;
}
.color-secondary{
    color: var(--color-light);
}

.color-blue{
    color: var(--color-blue);
}

.color-light{
    color: var(--color-light);
}

h1{
    font-size: calc(20px +1vw);
    font-weight:600;
}
h2{
    font-size: calc(14px +0.9vw);
    font-weight:600;
}
h3{
    font-size:calc(12px +0.7vw);
    font-weight:500;
}

.font-bold{
    font-weight:700;
}

.font-largest{
    font-size:3rem;
}

.font-large{
    font-size:1.5rem;
    font-weight:500;
    line-height: 1
}

.font-smallest{
    font-size: calc(10px + 0.1vw);
    line-height:1;
    width:40px
}

.font-smaller{
    font-size:0.9rem;
}

/* layout */

.full-width{
    width:100%;
}

.fit-content{
    width: auto!important;
}

.width-200{
    width:200px !important;
    padding: 4px 0;
}
.flex-1{
    flex:1;
}

.flex{
    display:flex;
    width: 100%;
}

.flex >*{
    margin-right: 0.2rem;
}

.flex.center{
    justify-content: center;
    align-items:center;
}

.column{
    display:flex;
    flex-direction: column;
    width: 100%;
    height:100%;
}

.column>*{
    margin-bottom:0.2rem;
}

.align-center{
    align-items:center;
}

.align-start{
    align-items:start;
}

.align-end{
    align-items:flex-end;
}

.flex-start{
    justify-content: flex-start;
}

.center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

/* Buttons */

.cta-button{
    border-radius: 1rem;
    text-transform: uppercase;
    padding:6px 24px;
    font-weight: 700px;
    outline:none;
    border:none;
    cursor: pointer;
    font-size: 1rem;
}

.cta-button.small-padding{
    padding: 6px 16px;
    font-size:0.9rem;
}

.cta-button.primary{
    color: white;
    background: var(--color-blue);
}

.cta-button.secondary{
    color: var(--color-blue);
    background: var(--color-background);
}

/* Icons */
.icon-larger{
    width:calc(1.8rem);
    height:calc(1.8rem);
    display:grid;
    place-content: center;
}

.icon-large{
    width:calc(1.5rem);
    height:calc(1.5rem);
    display:grid;
    place-content: center;
}

.icon-larger svg, .icon-large svg, .icon-medium svg, .icon-small svg{
    width:100%;
    height:100%;
}

.icon-medium{
    width:24px;
    height:24px;
    display:grid;
    place-content: center;
}


#icon-share{
    cursor: pointer;
}

#share-content{
    visibility: hidden;
    padding: 2rem;
    background:white;
    position:fixed;
    z-index:1;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%)
}

.icon-small{
    width:16px;
    height:16px;
    display:grid;
    place-content: center;
}

.icon-blue svg{
    fill: var(--color-blue);
}

.icon-light svg{
    fill: var(--color-light);
}
/* Spacing and Margin */

.mr-xs{
    margin-right: 4px;
}

.mr-s{
    margin-right:0.5rem;
}

.mr-m{
    margin-right:1rem;
}

.mb-s{
    margin-bottom: 0.5rem
}

.mb-m{
    margin-bottom: 1rem;
}

/* Different Sections */

.app-logo-div{
    min-width: 130px;
    min-height:130px;
    max-width:20vw;
    max-height:20vw;
    border-radius: 2rem;
    background: var(--color-gray);
    margin-right:1rem !important;
    overflow: hidden;
}

.app-logo-div img{
    height:100%;
    width:100%;
}

.heading-column{
    max-width:380px;
}

.heading-column{
    max-width:380px;
}


.app-intro{
    padding: 1rem;
}

.subtitle{
    font-weight:400;
    font-size:calc(10px +0.6vw);
}

.app-detail-row{
    color: var(--color-light);
    width:100%;
    padding:6px;
    border-bottom: none;
}

.horizontal-scroll{
    white-space: nowrap;
    overflow-x: scroll;
    --webkit-overflow-scrolling: touch;
    --ms-overflow-style: none; 
}

.app-detail-badge{
    position:relative;
    padding: 0.5rem;
    min-width:140px;
}

.app-detail-badge:after{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right:0;
    height: 60%;
    content: "";
    width:0.5px;
    background-color: var(--color-background);
}

.feature-images-row{
    width:100%;
    padding: 1rem 0;

}
.feature-images-slider{
    white-space: nowrap;
    overflow-x: scroll;
    --webkit-overflow-scrolling: touch;
    --ms-overflow-style: none; 
}

.feature-images-slider>*{
    border-radius:2rem;
    margin:0.7rem;
    overflow:hidden;

}

.feature-image img{
    width:220px;
    border-radius:2rem;
    border: 1px solid var(--color-lighter)
}

.description-div{
    width:100%;
    position: relative;
    max-height: calc(1rem * 1.2 *3);
    overflow: hidden;
}

.description-div ul{
    margin: 0.8rem 0;
}

.description-div ul li{
    padding: 2px 0;
}


.load-more{
    position: absolute;
    background:white;
    color: var(--color-blue);
    bottom: 0;
    right:0;
    padding: 0 0.5rem;
    line-height:calc(1rem * 1.2);
    height: calc(1rem * 1.2);
    font-size:1rem;
    cursor: pointer;
}


.app-developer-tab{
    cursor: pointer;
    margin-top:2rem;
    
}

.app-developer-tab #developer{
    color: var(--color-blue);
    margin-bottom:0;
}


#subscription-feature{
    font-size:1rem;
    font-weight: 400;
}

#subscription-icon{
    width:100px;
    height:100px;
    background: var(--color-background);
    border-radius:1rem;
    margin-right:1rem;
}
.privacy-card-row{
   padding: 1rem 0;;
   height:100%;
   margin-bottom:1rem;
}

.card-style{
    width:100%;
    margin: 1rem auto;
    padding:2rem;
    border-radius: 12px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.09);
    height:100%;
    background: var(--color-background)
}

.card-style>*{
    margin-bottom:0.5rem;
}

.info-row{
    border-bottom: 1px solid var(--color-background);
    padding: 0.4rem 0;
    width:100%;
}

#content-age-details-open{
    display:none;
}

#in-app-purchase-list{
    height:0;
    overflow:hidden;
    width:100%;
}

.modal-box{
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    visibility: hidden;
    background:rgba(255,255,255,0.9);
    opacity:0;
    transition: all 0.5s;
    display:grid;
    place-items: center;
}

#share-content{
    visibility: hidden;
    font-size:2rem;
    opacity:0;
}
.version-history{
    max-height:500px;
    max-width:800px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.09);
    background:white;
    padding: 2rem;
    border-radius: 1rem;
    font-size: 0.8rem;
    
}

.version-history-table{
    width:100%;
    overflow: scroll;
}

.version-row{
    margin: 0.5rem 0;
    padding: 1rem 0;
    border-top: 1px solid var(--color-lighter)
}

.version-history-list{
    width:70%;
}

.flex-review-chart{
    height:calc(3rem*1.5);
    width:100%;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
}

.stars-column{
    width:80px;
    justify-content: center;
}

.stars-row{
    display:flex;
    justify-content: flex-end;
    height:6px;
}

.star-svg{
    fill: var(--color-light);
    height:6px;
    width:6px;
}

.rating-bar-column{
    width:100%;
    justify-content: center;
}

.rating-bar{
    width:90%;
    height:6px;
    border-radius: 2rem;
    background-color: var(--color-lighter);
    position:relative;
}
.rating-bar:after{
    position: absolute;
    width:80%;
    height:100%;
    content:"";
    border-radius: 2rem 0 0 2rem;
    top:0;
    left:0;
    background: var(--color-gray)
}
.reviews-slider{
    display:flex;
    width: auto;
    white-space: nowrap;
    overflow-x: scroll;
    --webkit-overflow-scrolling: touch;
    --ms-overflow-style: none; 
}

.app-reviews-card{
    display: column;
    min-width:350px !important;
    border-radius: 1rem;
    background: var(--color-background);
    padding:1rem;
    margin: 0.5rem 0;
    margin-right: 1rem;
}

.user-review-rating svg{
    height: 0.8rem;
    width:0.8rem;
    fill: #ff9529;
    
}
.user-review-content{
    width:90%;
    white-space: normal;
    overflow: hidden;
}

.user-review-content.with-developer-response{
    height: 60px;
}
.user-review-content.no-developer-response{
    height: 130px;
}
.developer-response{
    width:90%;
    white-space: normal;
    height: 40px;
    overflow: hidden;
}
@media (min-width:768px){
    body{
        font-size:16px;
    }
    .description-div{
        max-height: 67px;
    }
    .load-more{
        font-size:1rem;
        height:24px;
        line-height:24px;
    }
}

@media(min-width: 1024px){
    .card-style{
        width:45%;
    }
    .privacy-card-row{
        height: 300px;
        flex-direction: row;
    }
}